.spaceFont{
    margin-top: 90px;
}

.colorPublic{
    color: rgb(79, 230, 29);
    font-size: 10px;
    
}
.colorButton{
    background-color: rgb(94, 188, 223);
    color: white;
    border: none;
}
.colorButton:hover{
    background-color: rgb(29, 145, 187);
    border: none;
}

.colorSpan{
    color: black;
    text-transform: uppercase;
    padding: 6px;
    font-size: 12px;
    margin-bottom: 10px;
}
.left{
    text-align: left;
    margin-left: 5px;
}
.stateBook{
    text-align: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 6px;
    margin-bottom: 6px;
    box-shadow: 2px 2px 2px 1px rgba(27, 214, 17, 0.598);
}
.stateBookTwo{
    text-align: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 6px;
    margin-bottom: 6px;
    box-shadow: 2px 2px 2px 1px rgba(214, 17, 17, 0.836);
}
.card{
    background-color: rgba(128, 128, 128, 0.7);
}
.card-text{
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
}
.card-subtitle{
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
}
.card-title{
    margin-top: 2px;
}

/* Contenedor */
.containerCards{
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: row;
    gap: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.containerCards .card img{
    width: 100%;
    height: 300px;
    object-fit: fill;
}
@media(max-width:1100px){
    .containerCards{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:850px){
    .containerCards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:550px){
    .containerCards{
        grid-template-columns: repeat(1,1fr);
    }
}