<div class="container spaceFont">

    <div class="card heightCard text-center">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="row">
                    <img src="{{linkimagen}}" class="roundeImage" alt="No hay imagen">
                </div>
            </div>
            <div class="col-12 col-lg-8 col-md-8 col-sm-12">
                    <h4 class="marginTitle">“Un lector vive mil vidas antes de morir. Aquel que nunca lee vive solo una.”</h4>
                    <div class="borderTarget">
                        <h5 class="colorTextInfo">Cedula: <span>{{user.username}}</span></h5>
                        <h5 class="colorTextInfo">Estudiante: <span>{{user.names}} {{user.surnames}}</span></h5>
                        <h5 class="colorTextInfo">Tecnologia: <span>{{user.tecnology}}</span></h5>
                        <h5 class="colorTextInfo">Ciclo: <span>{{user.cycle}}</span></h5>
                        <h5 class="colorTextInfo">Correo Electronico: <span>{{user.email}}</span></h5>
                        <h5 class="colorTextInfo">Telefono: <span>0{{user.phone}}</span></h5>
                    </div>
            </div>
        </div>
    </div>

    <div class="row text-center mt-5 mb-3">
        <div class="col-12">
            <h4 class="listTextTitle">LISTA DE PEDIDOS REALIZADOS</h4>
        </div>
    </div>

<table class="table table-dark table-striped mb-5">
    <thead>
        <tr>
            <th scope="col">N. Solicitud</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Cedula</th>
            <th scope="col">Fecha de Entrega</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of orders">
            <th scope="row">{{o.id}}</th>
            <td>{{user.names}} {{user.surnames}}</td>
            <td>{{user.username}}</td>
            <td>{{o.deliver_date | date: 'medium'}}</td>
            <td *ngIf='o.state === true'><span class="badge rounded-pill bg-success sizeText">en proceso</span></td>
            <td *ngIf='o.state === false'><span class="badge rounded-pill bg-danger sizeText">finalizado</span></td>
        </tr>
    </tbody>
</table>
<hr>
<div class="row p-4">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
        <div class="row">
            <img src="../../../assets/images/Politicas.png" alt="ISTPM">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <div class="row contentText">
            <p>
                Los contenidos que aparecen en el sitio web, incluyendo, sin limitación, imágenes, textos, software, fotografías,
                sonido, música, vídeos, elementos interactivos y afines ("Contenido"), marcas y logotipos ("Marcas"), o cualquier otro
                derecho de propiedad industrial o intelectual que aparecen en el mismo, son propiedad del Instituto Superior Tecnologico Primero de Mayo y queda expresamente
                prohibido su uso por terceros no autorizados.
            </p>
            <p>
                El contenido del sitio web solo está disponible para información y uso personal y no puede ser utilizado, copiado,
                reproducido, distribuido, transmitido, difundido, vendido, licenciado o, de cualquier otra forma, explotado para
                cualquier otro fin sin el consentimiento previo y por escrito de sus respectivos propietarios.
            </p>
        </div>
    </div>
</div>

</div>
