/* GENERAL */
.image{
    height: 100vh;
}
.container-fluit{
    margin-bottom: 60px;
}
.container{
    margin-bottom: 60px;
}
hr{
    display: none;
}
/* Biblioteca */
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 25px;
    -webkit-text-stroke: 2px rgb(63, 110, 58);
    color: white;
    border: 25px solid transparent;
    text-align: center;
}
.containerLibrary{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.containerItems{
    margin: 20px;
    color: white;
}
.containerItems p{
    font-size: 16px;
}
.containerItems h1{
    color: yellowgreen;
    font-size: 20px;
}
.containerImage{
    margin: 20px;
}
.containerImage img{
    width: 90%;
    border-radius: 20px;
}
/* Instituto */
.containerImageInstituto{
    display: grid;
    justify-items: center;
    align-items: center;
}
.containerImageInstituto img{
    width: 50%;
}
.containerItems .titleInstituto{
    font-size: 20px;
}
/* Rector */
.containerRector{
    display: grid;
    justify-items: center;
}
.containerImage .ImageRector{
    width: 60%;
}
.spaceTitleRector{
    margin: 0;
    padding: 0;
}
/* ACREDITACION */
.containerCredits{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
    margin-bottom: 50px;
}
.containerCredits .titleCredits{
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 25px;
    color: yellowgreen;
    font-style: italic;
}
.containerCredits img{
    height: 400px;
    width: 800px;
    border-radius: 10px;
}

@media(max-width: 991px){
    .image{
        height: 500px;
    }
    .containerCredits img{
        height: 300px;
        width: 600px;
    }
    .containerImage{
        margin: 20px;
        display: grid;
        align-items: center;
    }
}

@media(max-width: 767px){
    .container-fluit{
        margin-bottom: 20px;
    }
    .container{
        margin-bottom: 10px;
    }
    .image{
        height: 400px;
    }
    .containerLibrary{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .containerImageInstituto img{
        display: none;
    }
    .containerItems h1{
        font-size: 15px;
    }
    .containerCredits img{
        height: 300px;
        width: 400px;
    }
    .containerItems .titleInstituto{
        font-size: 15px;
    }
    .containerCredits .titleCredits{
        font-size: 15px;
    }
}
@media(max-width: 575px){
    hr{
        display: block;
        color: white;
    }
    .image{
        height: 300px;
    }
    .containerImage img{
        width: 100%;
    }
    .containerImage .ImageRector{
        width: 100%;
    }
    .containerCredits img{
        height: 200px;
        width: 300px;
    }
}
