<div class="container spaceTopContainer">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/images/login.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/login.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/login.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<section class="container">
    <div class="row">
        <h1 class="text-center title animate__animated animate__zoomInRight">BIENVENIDO A LA BIBLIOTECA DEL INSTITUTO
            SUPERIOR TECNOLOGICO PRIMERO DE MAYO</h1>
        <div class="col-12 col-sm-12 col-lg-6 col-md-6 textColor">
            <p>
                Nuestro Repositorio Digital se construye como un espacio de acceso abierto a la producción intelectual
                de la comunidad
                estudiantil en su labor de investigación, conformado actualmente por libros de las diferentes Carreras y
                Tecnologias disponibles.
            </p>
            <p>
                El Repositorio Institucional del Instituto Superior Tecnologico "Primero de Mayo" almacena, gestiona,
                difunde y ofrece
                acceso a los documentos fisicos
                concernientes a los campos de interés académico de la misma.
            </p>
        </div>
        <div class="col-12 col-sm-12 col-lg-6 col-md-6">
            <div class="row">
                <img src="../../../assets/images/readBook.jpg" class="borderImage" alt="">
            </div>
        </div>
    </div>
</section>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="row">
                <img src="../../../assets/images/istpm.png" class="borderImageTwo" alt="ISTPM">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 ml-4 mt-5">
            <p class="textColorText">
                Somos una Institución plural, comprometida con la formación de profesionales capaces, íntegros y
                competitivos, que
                contribuyen al desarrollo de la sociedad mediante la ciencia y la tecnología.
            </p>
            <p class="textColorText">
                Al año 2021, el Instituto Tecnológico Superior Primero de Mayo se consolida como una de las más
                importantes
                instituciones de educación superior de la región; para ello, trabaja en el mejoramiento continuo de
                sus
                procesos
                académicos y administrativos, con una clara vinculación al desarrollo social y económico de Zamora
                Chinchipe y del país.
            </p>
            <div class="textColorText">
                <h1>¡FORJATE UN MEJOR FUTURO!</h1>
            </div>
        </div>
    </div>
</div>