<div class="container-fluit">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img loading="lazy" src="../../../assets/images/login.jpg" class="d-block w-100 image" alt="...">
            </div>
            <div class="carousel-item">
                <img loading="lazy" src="../../../assets/images/biblioteca.jpg" class="d-block w-100 image" alt="...">
            </div>
            <div class="carousel-item">
                <img loading="lazy" src="../../../assets/images/login.jpg" class="d-block w-100 image" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Biblioteca -->
<section class="container">
        <!-- <h1 class="title animate__animated animate__zoomInRight">BIENVENIDO A LA BIBLIOTECA DEL INSTITUTO SUPERIOR TECNOLOGICO PRIMERO DE MAYO</h1> -->
        <div class="containerLibrary">
            <div class="containerItems">
                <h1 class="titleInstituto">BIBLIOTECA INSTITUCIONAL</h1>
                <p>
                    Nuestro Repositorio Digital se construye como un espacio de acceso abierto a la producción intelectual
                    de la comunidad
                    estudiantil en su labor de investigación, conformado actualmente por libros de las diferentes Carreras y
                    Tecnologias disponibles.
                </p>
                <p>
                    El Repositorio Institucional del Instituto Superior Tecnologico "Primero de Mayo" almacena, gestiona,
                    difunde y ofrece
                    acceso a los documentos fisicos
                    concernientes a los campos de interés académico de la misma.
                </p>
            </div>
            <div class="containerImage">
                <img loading="lazy" src="../../../assets/images/readBook.jpg" alt="Señorita leyendo un libro">
            </div>
        </div>
</section>
<hr>
<!-- Instituto -->
<div class="container">
    <div class="containerLibrary">
        <div class="containerImageInstituto">
            <img loading="lazy" src="../../../assets/images/istpm.png" alt="Logo ISTPM">
        </div>
        <div class="containerItems">
            <h1 class="titleInstituto">INSTITUTO SUPERIOR TECNOLOGICO PRIMERO DE MAYO</h1>
            <p>
                Somos una Institución plural, comprometida con la formación de profesionales capaces, íntegros y
                competitivos, que
                contribuyen al desarrollo de la sociedad mediante la ciencia y la tecnología.
            </p>
            <p>
                Al año 2021, el Instituto Tecnológico Superior Primero de Mayo se consolida como una de las más
                importantes
                instituciones de educación superior de la región; para ello, trabaja en el mejoramiento continuo de
                sus
                procesos
                académicos y administrativos, con una clara vinculación al desarrollo social y económico de Zamora
                Chinchipe y del país.
            </p>
            <h1 class="titleInstituto">¡FORJATE UN MEJOR FUTURO!</h1>
        </div>
    </div>
</div>
<hr>
<!-- Rector -->
<div class="container">
    <div class="containerLibrary">
        <div class="containerItems">
            <h1 class="titleInstituto spaceTitleRector">RECTOR..</h1>
            <h1 class="titleInstituto">ING. WAGNER ROBERTO MOROCHO CHAMBA, MG.SC.</h1>
            <p>
                FORMACIÓN ACADÉMICA: Ingeniero en Zootecnia de la Universidad Nacional de Loja. Diploma Superior en Diseño, Gestión y
                Evaluación de Proyectos de Desarrollo en la FLACSO. Especialista en Proyectos de Consultoria de la Universidad Nacional
                de Loja. Magister en Producción Animal de La Universidad Nacional de Loja. Magister en Admnistración para el Desarrollo
                Educativo de la Universidad Nacional de Loja.
            </p>
            <p>
                EXPERIENCIA LABORAL: Coordinador de Inclusión Económica en el Ministerio de Inlcusión Económica Y Social. Coordinador
                Provincial en Instituto Nacional de Economía Popular y Solidaria. Técnico Coordinador del Proyecto "Implementación de un
                sistema provincial para el servicio de acompañamiento agropecuario" en el Gobierno Provincial de Zamora Chinchipe.
                Director de Desarrollo integral Comunitario en el Gobierno Municipal del Cantón Yantzaza. Docente del ITS Primero de
                Mayo. Actualmente de desempeña como Rector de la Institución.
            </p>
        </div>
        <div class="containerImage containerRector">
            <img loading="lazy" src="../../../assets/images/rector.jpg" class="ImageRector" alt="Rector ISTPM">
        </div>
    </div>
</div>
<!-- ACREDITACION -->
<div class="containerCredits">
    <h3 class="titleCredits">Acreditación caces 2021</h3>
    <img loading="lazy" src="../../../assets/images/acreditacion.jpg" alt="">
</div>